$darkColor:#0F0F0F;
$ligthDarkColor:#121212;
$grayColor:#161616;
$middleGrayColor:#1E1E1E;
$similarGrayColor:#232323;
$primayColor:#5E4BE2;
$primayHoverColor:#5141BF;
$navyBlueColor:#2F3355;
$lightGrayColor:#AAAAAA;
$darkGrayColor:#ABABAB;
$white:#FFFFFF;