.inputMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative; 
}

.input {
    flex: 1;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    background: #151515;
    border-radius: 8px;
    border: 2px solid;
    color: white;
    width: 100%;

    &:-webkit-autofill {
        background: #151515;
        color: white;
        border-color: #151515;
        -webkit-box-shadow: 0 0 0px 1000px #151515 inset;
        -webkit-text-fill-color: white;
    }
}

.input:focus {
    background: #0C0C0C;
    border-color: #0C0C0C;
    outline: none;
}

.inputText {
    color: var(--text-color, #FFF);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.30);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.standard {
    border-color: #151515;
}

.success {
    border-color: #75B040;
}

.error {
    border-color: #961E18;
}

.success:focus {
    border-color: #75B040;
}

.error:focus {
    border-color: #961E18;
}

.eyeIcon {
    width: 20px;
    height: 20px;
}

.toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
}
