.pages {
    display: flex;
}

.children {
    overflow-y: auto;
    width: 100%;
    height: 100vh;
}

.navMenuContainer {
    background: #0F0F0F;
    height: 100vh;
}

.pages {
    display: flex;
}

.children::-webkit-scrollbar {
    display: none;
}