.artist {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 15px;
}

.conteiner {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.addArtist {
    width: 142px;
    margin-right: 20px;
    margin-top:20px ;
}