@import '../../styles/colors.scss';

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.artistName {
    display: flex;
    gap: 12px;
}

.names {
    display: flex;
    justify-content: space-between;
    max-width: 320px;
    width: 100%;
}

.errorName{
    display: flex;
    justify-content: space-between;
    max-width: 410px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.yearbio {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.biography {
    // height: 100px;
    border-radius: 8px;

}

.inputWrapper {
    height: 100px;
    border-radius: 8px;
    border: 1px solid #232934;
    background: #000;

}

.biography::placeholder {
    display: flex;
    align-items: flex-start;
    padding-bottom: 100px;
}

.reausableModalContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(18, 18, 18, 0.79);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}


.addmusicName {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
    flex-direction: column;
}

.musicText {
    color: $white;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.inputB{
    padding: 12px;
    gap: 10px;
    // border-radius: 8px;
    // border: 1px solid #232934;
    background: #000;
    border: none;
    width: 100%;
    outline: none;
    color: $white;

    &:-webkit-autofill {
        color: $white;
        -webkit-box-shadow: 0 0 0px 1000px #000 inset;
        -webkit-text-fill-color: $white;
        border: 1px solid #232934;
        background: #000;
    }
}

.inputB::placeholder {
    color: #7B819D;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

}

.inputMusic {
    padding: 12px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #232934;
    background: #000;
    width: 100%;
    outline: none;
    color: $white;

    &:-webkit-autofill {
        color: $white;
        -webkit-box-shadow: 0 0 0px 1000px #000 inset;
        -webkit-text-fill-color: $white;
        border: 1px solid #232934;
        background: #000;
    }
}

.inputMusic::placeholder {
    color: #7B819D;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

}

.inputMusic:focus {
    color: $white;
}

.inputFile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;

    input[type="file"] {
        display: none;
    }

    label {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 20px;
        border-radius: 8px;
        border: 1px dashed #232934;
        background-color: #0D1116;
        color: $white;
        width: 100%;
        height: 120px;
        font-size: 14px;
        padding-top: 50px;
        color: $white;
        cursor: pointer;

        &:hover {
            background-color: #1A1F26;
        }
    }
}

.uploadIcon {
    position: absolute;
    padding-bottom: 70px;
}

.error {
    color: #961E18;
}

.reusableModal {
    display: flex;
    width: 568px;
    padding: 24px;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #000;
}

.cancel {
    flex: 1;
}

.done {
    flex: 1;
}

.addPlaylist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.addPlaylistText {
    color: $white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.addPlaylistIcon {
    display: flex;
    transform: rotate(90deg);
    padding: 4px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #232934;
    background: #0E1117;
    cursor: pointer;
}

.addPlaylistTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.playlistText {
    color: $white;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.inputPlaylist {
    height: 44px;
    padding: 12px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #232934;
    background: #000;
    width: 316px;

}

.inputPlaylist::placeholder {
    color: #7B819D;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.inputPlaylist:focus {
    color: $white;
}

.modalButton {
    display: flex;
    justify-content: center;
    gap: 8px;
}

